
.container {
    height: auto;
    width: 330px;
    border-radius: 20px;
    background-color: rgba(236, 236, 236, 1);
    margin: 25px 10px;
    display: inline-table;
position: relative;
}

.day_sect {
    font: 600 24px 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(236, 236, 236, 1);
    background-color: rgba(125, 125, 125, 1);
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.shd_sect {

}

.time {
    font: 700 36px 'Montserrat', sans-serif;
    text-align: center;
}

.name_lesson {
    font: 400 36px 'Montserrat', sans-serif;
    text-align: center;
}

.edit_container {
    position: absolute;
    right: 20px;
}
.edit_element 
{
    margin: 5px
}