
.header
{
    color: black;
    font: 700 48px 'Montserrat', sans-serif;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_main
{
    padding: 0 50px;
}

.textarea
{
    min-height: 200px;
    min-width: 400px;
}