@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet');

.ad
{
    color: black;
    font: 700 28px 'Montserrat', sans-serif;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day_container
{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
}